################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/WatchAllApi/obj
/.vs/WatchAllApi
/WatchAllApi/bin/Debug/netcoreapp2.1
/.vs/config
